.article-card {
    background-color: #d3d3d3;
}
.article-image{
    height: 150px;
    width: 150px;
    border-radius: 15px;

}


.favorite-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
div.card-body {
    position: relative;
}

div.card-header {
    align-content: flex-start;
   
}
button > img {
    height: 100%;
    width: 100%;
    object-fit: contain;

}
.d-flex {
    display: flex;
    justify-content: space-between;
}
.d-flex button {
    padding: 3px;
    width: 8rem;
}
button.edit-button {
    justify-content: right;
}
.edit-save-trash-container{
    width: 40%;
    display: flex;
    justify-content: flex-end;
    
}
button.edit-save-trash{
    padding: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-header {
    height: 8vh
}

